<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.kqoffice.app"
        version   = "1.0.0">

    <name>KQ Office</name>

    <description>
        Fill, Sign and Send your documents
    </description>

    <author href="http://phonegap.com" email="leonduhiu@gmail.com">
        PhoneGap Team
    </author>


<plugin name="cordova-plugin-file" spec="3.0.0" source="pgb" />
<plugin name="org.apache.cordova.console" spec="0.1.0" source="pgb" />
